# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
*.log

# Environment variables
.env

# Django static
/staticfiles/
/static/

# Python virtual envs
venv/
env/
.venv/

# IDEs
.vscode/
.idea/
*.swp

# OS junk
.DS_Store
Thumbs.db

# Docker
*.pid

# Railway
.railway/

# Node / random
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Git
.git/
